<ion-view title="Add Trade Videos">
	<ion-content style="background:#F0F3F8;">
	<div class="card" >
		<div class="item item-avatar"> 
		    <img src="img/movie-player.png">
		    <h2>Trade Video for Upload</h2>
		    <p>will be displayed here!</p>
	  	</div>
	</div>
	<div class="list card" ng-show="videoLoaded != null">
		<div class="item item-image">
			 <video ng-src="{{ trustSrc(videoLoaded) }}" type="video/3gp" controls="controls" id="videoHolder" style="width:100%;height:400px;"></video>
		</div>
	</div>	
	</ion-content>
	<div class="tabs tabs-icon-left">
	  <div class="button-bar">
	  <button class="button icon ion-upload button-balanced button-outline" ng-disabled="videoLoaded === null" ng-click="uploadVideo()"> Upload Video</button>
	  <button ng-click="selectVideo()" class="button icon ion-camera button-positive button-outline" >  Choose a Video</button>
</div>
	</div>
</ion-view>