<ion-view title="Add Trade Image">
	<ion-content style="background:#F0F3F8;">
	<div class="card" ng-show="(fileCount != 2 && package == 1) || (fileCount != 12 && package == 2) || (Uploads != 24 && package == 3)">
		<div class="item item-avatar"> 
		    <img src="img/pictures.png">
		    <h2>Image for upload</h2>
		    <p>will be displayed here!</p>
	  	</div>
	</div>
	<div class="card" ng-show="(fileCount == 2 && package == 1) || (fileCount == 12 && package == 2) || (fileCount == 24 && package == 3)">
		<div class="item item-avatar"> 
		    <img src="img/warning.png">
		    <h2>Upload limit reached!</h2>
		    <p>Get our Paid Membership now!</p>
		    <button class="button button-full button-positive">
      			Check it out!
    		</button>
	  	</div>
	</div>
	<div class="list card" ng-show="pictureUrl != null">
		<div class="item item-image">
			<img ng-src="{{ pictureUrl }}">
		</div>
	</div>	
	</ion-content>
	<div class="tabs tabs-icon-left" ng-show="(fileCount != 2 && package == 1) || (fileCount != 12 && package == 2) || (fileCount != 24 && package == 3)">
	  <div class="button-bar">
		  <button class="button icon ion-upload button-balanced button-outline" ng-disabled="pictureUrl === null" ng-click="uploadImage()"> Upload Image</button>
		  <button class="button icon ion-android-download button-positive button-outline" ng-click="takePicture()"> Select Image</button>
	  </div>
	</div>
	<div class="bar bar-footer bar-energized" ng-show="(fileCount == 2 && package == 1) || (fileCount == 12 && package == 2) || (fileCount == 24 && package == 3)">
	  	<p class="title"><i class="icon ion-alert-circled"></i> Upload limit reached!</p>
	</div>
</ion-view>