<ion-view title="Add Trade Videos">
	<ion-content style="background:#F0F3F8;">
	
	<div class="card" ng-show="(vidFilecount != 2 && package == 2) || (vidFilecount != 5 && package == 3)">
		<div class="item item-avatar"> 
		    <img src="img/movie-player.png">
		    <h2>Trade Video for Upload</h2>
		    <p>will be displayed here!</p>
	  	</div>
	</div>
	<div class="card" ng-show="(vidFilecount == 2 && package == 2) || (vidFilecount == 5 && package == 3)">
		<div class="item item-avatar"> 
		    <img src="img/warning.png">
		    <h2>Upload limit reached!</h2>
		    <p>Get our Paid Membership now!</p>
		    <button class="button button-full button-positive">
      			Check it out!
    		</button>
	  	</div>
	</div>
	<div class="list card" ng-show="videoLoaded != null">
		<div class="item item-image">
			 <video ng-src="{{ trustSrc(videoLoaded) }}" type="video/3gp" controls="controls" id="videoHolder" style="width:100%;height:400px;"></video>
		</div>
	</div>	
	</ion-content>
	<div class="tabs tabs-icon-left" ng-show="(vidFilecount != 2 && package == 2) || (vidFilecount != 5 && package == 3)">
	  <div class="button-bar">
	  <button class="button icon ion-upload button-balanced button-outline" ng-disabled="videoLoaded === null" ng-click="uploadVideo('Videos','videofiles')"> Upload Video</button>
	  <button ng-click="selectVideo()" class="button icon ion-camera button-positive button-outline" >  Choose a Video</button>
	  </div>
	</div>
	<div class="bar bar-footer bar-energized" ng-show="(vidFilecount == 2 && package == 2) || (vidFilecount == 5 && package == 3)">
	  	<p class="title"><i class="icon ion-alert-circled"></i> Upload limit reached!</p>
	</div>
</ion-view>