<ion-view title="Add Promotion Video">
	<ion-content style="background:#F0F3F8;">

	<div id="loginWrapper" style="padding: 15px;" ng-show="videoLoaded === null">
		<div id="img-wrapper"><img src="img/promotion.png"></div>
		<h4 class="text-center h3 color-white" style="font-size:21px;color:#394638;">Upload A Promotion Video!</h4>
		<p style="text-align:center">Upload a 7 seconds promotion video and let your trade be known!</p>
	</div>
	<div class="list card" ng-show="videoLoaded != null">
		<div class="item item-image">
			 <video ng-src="{{ trustSrc(videoLoaded) }}" type="video/3gp" controls="controls" id="videoHolder" style="width:100%;height:400px;"></video>
		</div>
	</div>	

	</ion-content>
	<div class="tabs tabs-icon-left">
	  <div class="button-bar">
	  <button class="button icon ion-upload button-balanced button-outline" ng-disabled="videoLoaded === null" ng-click="uploadVideo('Promotion','video_promotion')"> Upload Video</button>
	  <button ng-click="selectVideo()" class="button icon ion-camera button-positive button-outline" >  Choose a Video</button>
	  </div>
	</div>
</ion-view>