<ion-view title="Trade Image List">
	<ion-content>
	<div class="card" >
		<div class="item item-avatar"> 
		    <img src="img/pictures.png">
		    <h2>Trade Images Uploaded</h2>
		    <p>will be displayed here!</p>
	  	</div>
	</div>
	<div class="list">
    <a class="item item-thumbnail-left" ng-repeat = "files in Images">
      <img ng-src="{{ mainDIR + IdholderDIR + files.file_name }}" style="width: 100%;
height: auto;">
      <h2>{{ files.file_name }}</h2>
      <p>Added {{ files.dateadded }}</p>
    </a>
	</div>
	
	</ion-content>
	<div class="tabs tabs-icon-left">
	<a class="tab-item" href="#/menu/add-image">
	  	<i class="icon ion-images"></i>
	  	Upload an Image
	  </a>
	</div>
</ion-view>