<ion-view title="Trade Image List">
	<ion-content style="background:#F0F3F8;">
	<div class="card" >
		<div class="item item-avatar"> 
		    <img src="img/pictures.png">
		    <h2>Trade Images Uploaded</h2>
		    <p>will be displayed here!</p>
	  	</div>
	</div>
	<div class="list">
    <div id ="imageItem{{ $index }}" class="item item-thumbnail-left item-button-right" ng-repeat = "files in Images">
      <img ng-src="{{ mainDIR + IdholderDIR + files.file_name }}" style="width: 100%;
height: auto;">
      <h2>{{ files.file_name }}</h2>
      <p>Added {{ files.dateadded }}</p>
      <button class="button button-assertive" id="{{ $index }}" ng-click="deleteImg($index)">
      	<i class="icon ion-trash-a"></i>
      </button>
    </div>
	</div>
	
	</ion-content>
	<div class="tabs tabs-icon-left">
	<a class="tab-item" href="#/menu/add-image" style="font-size: 15px;color:#7ec12e">
	  	<i class="icon ion-images"></i>
	  	Upload an Image
	  </a>
	</div>
</ion-view>