<ion-view title="Trade Image List">
	<ion-content>
	<div class="card" >
		<div class="item item-avatar"> 
		    <img src="img/pictures.png">
		    <h2>Trade Images Uploaded</h2>
		    <p>will be display here!</p>
	  	</div>
	</div>
	<div class="list">
    <a class="item item-thumbnail-left" ng-repeat = "files in Images">
      <img ng-src="{{ mainDIR + IdholderDIR + files.file_name }}">
     <!-- <img ng-src="http://192.168.1.23/tradeappbackend/public_html/MediaFiles/17/Images/{{ files.file_name }}"> -->
    <!--  <img src="192.168.1.22/tradeappbackend/public_html/MediaFiles/17/Images/5bafdc440302e.jpeg"> -->

      <h2>{{ files.file_name }}</h2>
      <p>Added a min ago</p>
    </a>
	</div>

	</ion-content>
	<div class="tabs tabs-icon-left">
	<a class="tab-item" href="#/menu/add-image">
	  	<i class="icon ion-images"></i>
	  	Upload an Image
	  </a>
	</div>
</ion-view>