<ion-view title="Login to Trade App">
	<div id="loginWrapper">
		<div class="list list-inset">
		  <label class="item item-input">
			<i class="icon ion-person placeholder-icon"></i>
			<input type="text" placeholder="Username" ng-model="user.name">
		  </label>
		</div>
		<div class="list list-inset">
		  <label class="item item-input">
			<i class="icon ion-locked placeholder-icon"></i>
			<input type="password" placeholder="Password" ng-model="user.pass">
		  </label>
		</div>
		<div class="list list-inset">
			<button type="submit" ng-click="login()" class="button button-block button-positive">Log In</button>
		</div>
	</div>
</ion-view>

