
	<ion-view class="bgGreen" title="">
		<div id="loginWrapper">
			<div id="img-wrapper"><img src="../img/login-icon.png"></div>
			<h4 class="text-center h3 color-white">MEMBER LOGIN</h4>
			<div class="list list-inset">
			  <label class="item item-input">
				<i class="icon ion-person placeholder-icon"></i>
				<input type="text" placeholder="Username" ng-model="user.name">
			  </label>
			</div>
			<div class="list list-inset">
			  <label class="item item-input">
				<i class="icon ion-locked placeholder-icon"></i>
				<input type="password" placeholder="Password" ng-model="user.pass">
			  </label>
			</div>
			<button type="submit" ng-click="login()" class="button button-block button-positive">LOGIN</button>
		</div>
	</ion-view>


