<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <a class="button icon ion-funnel button-clear" ng-click="openModal()"></a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
    </ion-header-bar>
    <ion-content class="bgGreen">
    <br>
    <div>
    <div ng-show="face_img == 'none'">
       <img id="usrprofpic" src="img/man.png">
    </div>
    <div id="noImgholdermenu" ng-show="face_img != 'none'">
       <img id="usrprofpic" ng-src="{{ mainDIR + profileFolder + face_img }}">
    </div>
     
     
    </div>
    <h4 class="text-center color-white" ng-model="usr.fullName">{{ username }}</h4>
    <h4 ng-show="package == 1" class="text-center color-white" ng-model="usr.fullName"><i class="icon ion-ribbon-a" style="color:#cd7f32;"></i> Free Membership</h4>
    <h4 ng-show="package == 2" class="text-center color-white" ng-model="usr.fullName"><i class="icon ion-ribbon-a" style="color:#FFD700;"></i> Gold Membership</h4>
    <h4 ng-show="package == 3" class="text-center color-white" ng-model="usr.fullName"><i class="icon ion-ribbon-a" style="color:#b8d8e7;"></i> Diamond Membership</h4>
    <p>
       <a menu-close style="width: 54%;margin: 0 auto;" class="button button-block button-small button-stable icon-left ion-images" ng-show="face_img == 'none'" href="#/menu/upload-img">
      Add a Profile Image
    </a>
    <a menu-close style="width: 54%;margin: 0 auto;" class="button button-block  button-small button-positive icon-left ion-edit" ng-show="face_img != 'none'" href="#/menu/upload-img">
      Change Profile Image
    </a>
    </p>
   
  
     
    <br>
      <ion-list>
        <ion-item menu-close class="item item-icon-left menu-item" href="#/menu/usersearch">
          <i class="icon ion-search"></i>
          Search for a Trade
        </ion-item>

        <ion-item menu-close class="item item-icon-left menu-item" href="#/menu/userprofile">
          <i class="icon ion-person"></i>
          Profile
        </ion-item>

        <ion-item menu-close class="item item-icon-left menu-item" href="#/menu/changepass">
          <i class="icon ion-locked"></i>
         Change Password
        </ion-item>

        <ion-item menu-close class="item item-icon-left menu-item" href="#/menu/image-list">
          <i class="icon ion-images"></i>
          Trade Images
         
        </ion-item>
        <ion-item menu-close class="item item-icon-left menu-item" href="#/menu/video-list" ng-show="package != 1">
          <i class="icon ion-videocamera"></i>
          Trade Videos
        </ion-item>
        <ion-item menu-close class="item item-icon-left menu-item" ng-show="package == 3" href="#/menu/video-promotion-list">
          <i class="icon ion-film-marker"></i>
          Promotional Video
        </ion-item>
         <ion-item menu-close class="item item-icon-left menu-item" href="#/menu/all-connections">
         <i class="icon ion-chatbubble-working"></i>
          Connections
         <span ng-show="unseen_messages != 0" class="badge badge-assertive">{{ unseen_messages }}</span>
        </ion-item>
        <ion-item menu-close class="item item-icon-left menu-item" ng-click="logout()">
          <i class="icon ion-power"></i>
          Log Out
         
        </ion-item>
    </ion-list>
  </ion-content>
  </ion-side-menu>
</ion-side-menus>
