<ion-view cache-view="true" hide-nav-bar="true">
	<ion-header-bar class="bar-stable bar bar-header" align-title="center">
		<div class="buttons buttons-left header-item">
			<span class="left-buttons">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
			</span>
		</div>
		<div class="title title-center header-item" style="left: 45px; right: 45px;">My Profile</div>
	  </ion-header-bar>
	<ion-content>
	<div class="list" id="profile-wrapper">
		<label class="item item-input item-stacked-label">
			<span class="input-label">First Name</span>
			<input type="text" placeholder="First Name" ng-model="user.fname" disabled>
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Last Name</span>
			<input type="text" placeholder="Last Name" ng-model="user.lname" disabled>
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Age</span>
			<input type="text" placeholder="Age" ng-model="user.age" disabled>
		</label>	
		<label class="item item-input item-stacked-label">
			<span class="input-label">Birthdate</span>
			<input type="date" ng-model="user.bday" id="user_bday" disabled>
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Address</span>
			<input type="text" placeholder="Address" ng-model="user.address" disabled>
		</label>
	</div>

	</ion-content>
		<div class="tabs tabs-icon-left">
	  <a class="tab-item">
		<i class="icon ion-edit"></i>
		Edit Profile
	  </a>
	</div>
</ion-view>

