<ion-view title="Register Now">

	<ion-content>
	
	<div id="registerWrapper">
		
		<div class="list list-inset">
			<h4>Log In Credentials</h4>
		  <label class="item item-input">
			<input type="text" placeholder="Username">
		  </label>
		  <label class="item item-input">
			<input type="password" placeholder="Password">
		  </label>
		  <label class="item item-input">
			<input type="password" placeholder="Confirm Password">
		  </label>
		</div>
		<div class="list list-inset">
			<h4>Personal Info</h4>
		  <label class="item item-input">
			<input type="text" placeholder="First Name">
		  </label>
		  <label class="item item-input">
			<input type="text" placeholder="Last Name">
		  </label>
		  <label class="item item-input">
			<input type="text" placeholder="Age">
		  </label>
		  <label class="item item-input">
			<input type="text" placeholder="Birthday">
		  </label>
		  <label class="item item-input">
			<input type="text" placeholder="Address">
		  </label>
		</div>
		<div class="list list-inset">
			<button type="submit" class="button button-block button-positive">Sign Up</button>
		</div>
	</div>
	</ion-content>
</ion-view>