
	<ion-view class="bgGreen" title="">
		<div id="loginWrapper">
			<h4 class="text-center h3 color-white">Reset My Password</h4>
			<div class="list list-inset">
			  <label class="item item-input">
				<i class="icon ion-person placeholder-icon"></i>
				<input id ="user" type="text" placeholder="Username" ng-model="user.name">
			  </label>
			</div>
			<div class="list list-inset">
			  <label class="item item-input">
				<i class="icon ion-email placeholder-icon"></i>
				<input id="email" type="text" placeholder="Email Address" ng-model="user.email">
			  </label>
			</div>
			<button type="submit" ng-click="resetpass()" class="button button-block button-positive">RESET NOW</button>
		</div>
	</ion-view>


