<ion-view cache-view="false" hide-nav-bar="true">
	
	
	<div class="bar bar-header bar-light">
	  <h1 class="title">Trade App</h1>
	  <a ng-show="isLogged == false" class="button button-clear pull-right" href="#/register"><i class="icon ion-person-add"></i></a>
	  <a ng-show="isLogged == true" class="button button-clear pull-right" ng-click="logout()"><i class="icon ion-power"></i></a>
	</div>
	
    <div class="list list-inset" id="searchbox">
	  <label class="item item-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="text" placeholder="Search">
	  </label>
	</div>
	<div ng-show="isLogged == false" class="tabs tabs-icon-left">
	  <a class="tab-item" href="#/login">
		<i class="icon ion-person"></i>
		Log In
	  </a>
	</div>
	<div ng-show="isLogged == true" class="tabs tabs-icon-left">
	  <a class="tab-item" href="#/user-profile">
		<i class="icon ion-gear-a"></i>
		My Profile
	  </a>
	  <a class="tab-item" href="#">
		<i class="icon ion-email"></i>
		Messages
	  </a>
	</div>
</ion-view>

