<ion-view title="Trade Videos">
	<ion-content style="background:#F0F3F8;">

	<div class="list card" ng-repeat="files in tradeVideos">
	  <div class="item item-body">
	    <video class="full-image" ng-src="{{ trustSrc(mainDIR + IdholderDIR + files.file_name) }}" controls="controls" style="width:100%;height:250px;"></video>
	  </div>
	   <label class="item">
	    <span class="icon ion-calendar" style="color:#a7d341;"> <i style="color:#9a9999;">Added {{ files.dateadded }}</i>
	  </label>
	</div>
	<div class="card"  ng-show="tradeVideos == 0">
		<div class="item item-avatar"> 
		    <img src="img/warning.png">
		    <h2>Opps!</h2>
		    <p>No Trade Videos to show!</p>
	  	</div>
	</div>
	</ion-content>
</ion-view>
