<ion-view view-title="Trade My World" cache-view="true" hide-nav-bar="false" class="bgSearch">
	<div class="bar bar-subheader item-input-inset" id="searchWrapper">
	  <label class="item-input-wrapper">
	    <input id="searchkey" type="search" placeholder="Search for a Trade.." ng-model="user.search">
	  </label>
	  <button class="button button-positive button-small" ng-click="startSearch()">
		    <i class="icon" style="font-size: 20px;padding-right: 10px;">|</i>
			<i class="icon ion-search"></i>
		</button>
	</div>
  
	<ion-content style="margin-top:85px;">
	<div class="card" ng-repeat="data in result">
	  <div class="item item-avatar" style="background-image:url('img/noservice-picture.jpg');background-size:cover">
	   	<img src="img/man.png">
		<a class="button button-outline" style="border:none;color:#fff;float:right;" ng-click="viewMore(data.user_id)">
      		<i class="icon ion-person-stalker"></i>
    	</a>
	     <h2  style="color:#5ea509;">{{ data.first_name }}</h2>
	  </div>
	  <div class="item item-text-wrap">
	    <p>
	      {{ data.service_name }}
	    </p>
	   
	  </div>	
	</div>
	<div class="card" style="background:transparent;border:none;opacity:0;filter: alpha(opacity=50);height:20px"></div>
	</ion-content>

	<ion-content ng-show="result == false" style="margin-top:85px;">
	<div class="card" >
		<div class="item item-avatar"> 
		    <img src="img/warning.png">
		    <h2>Opps!</h2>
		    <p>No results found!</p>
	  	</div>
	</div>
	</ion-content>

	<div class="tabs tabs-icon-left">
	  <a class="tab-item" style="font-size: 18px;color:#7ec12e">
		<i class="icon ion-ios-star"></i>
		Starred
	  </a>
	  <a class="tab-item" style="font-size: 28px;max-width:30px;color:#7ec12e;top: -4px;position: relative;">
		|
	  </a>
	  <a class="tab-item" style="font-size: 18px;color:#7ec12e;max-width: 170px;" >
		<i class="icon ion-ios-email-outline"></i>
		Messages
	  </a>
	</div>
</ion-view>

