<ion-view title="Trade Video List">
	<ion-content>
	<div class="card" >
		<div class="item item-avatar"> 
		    <img src="img/movie-player.png">
		    <h2>Trade Videos Uploaded</h2>
		    <p>will be displayed here!</p>
	  	</div>
	</div>
	<div class="list">
    <a class="item item-thumbnail-left" ng-repeat = "files in Videos">
      <video ng-src="{{ trustSrc(mainDIR + IdholderDIR + files.file_name) }}" controls="controls" style="width:100%;height:100px;"></video>
      <h2>{{ files.file_name }}</h2>
      <p>Added {{ files.dateadded }}</p>
    </a>
	</div>

	</ion-content>
	<div class="tabs tabs-icon-left">
	<a class="tab-item" href="#/menu/add-video">
	  	<i class="icon ion-videocamera"></i>
	  	Upload a Video
	  </a>
	</div>
</ion-view>